/*
* -=== Main CSS File ===-
*/

/*
* --- Imports ---
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

/*
* === Main Styles ===
*/

::selection {
    background: rgb(134, 255, 174);
}

html, body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.main-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*
* --- Nav Bar ---
*/

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
}

.navbar-undocked {
    background-color: #000;
}

.navbar li {
    float: left;
}

.navbar li a {
    transition-property: border, background;
    transition-duration: 0.2s;
    border-top: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    display: block;
}

.navbar li a:hover {
    border-top: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar li .active:hover {
    border-top: 2px solid rgb(162, 255, 153);
    background-color: rgba(200, 255, 200, 0.2);
}

.navbar li .website-name {
    padding: 14px 50px;
    font-family: "Raleway", "Open Sans", sans-serif;
}

.navbar li .website-name:hover {
    border-top: 2px solid rgba(0, 0, 0, 0);
}

/*
* --- Parallax ---
*/

.parallax-container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 90vh;
    transform: translateZ(-1px) scale(2.5);
    z-index: -1;
    background: black url("./images/frozen_trees.jpg") repeat center center;
    filter: brightness(60%);
    background-size: cover;
}

.content-container {
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
}

.main-header {
    position: absolute;
    top: 30vh;
    width: 100vw;
    color: white;
    margin: auto;
    text-align: center;
}

.main-header h1 {
    font-size: 10vh;
    font-family: "Raleway", "Open Sans", sans-serif;
}

/*
* --- Main Content ---
*/

.content {
    padding-top: 10px;
    margin: auto;
    max-width: 75vw;
}

.content h1, h2 {
    text-align: center;
}