.navbar {
    z-index: 100;
    background-color: var(--accent-color);
    height: 52px;
    width: 100%;
    top: 0px;
    position: sticky;
    box-shadow: var(--standard-box-shadow);
}

.navbar ul {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.docked {
    background-color: rgba(0, 0, 0, 0.404);
}

.navbar .website-icon-container {
    float: left;
    width: 52px;
    height: 52px;
}

.navbar .website-icon-container img {
    transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
    padding: 1px 1px;
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar .website-icon-container img:hover {
    transform: scale(1);
}

.navbar ul {
    margin-left: 100px;
}

.navbar li {
    float: left;
}

.navbar li a {
    transition-property: border, background;
    transition-duration: 0.2s;
    border-top: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    display: block;
}

.navbar li a:hover {
    border-top: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar li .active {
    border-top: 2px solid rgb(162, 255, 153);
}

.navbar li .active:hover {
    border-top: 2px solid rgb(162, 255, 153);
    background-color: rgba(200, 255, 200, 0.2);
}

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0);
}