.parallax-container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: calc(100vh - 52px);
    transform: translateZ(-1px) scale(2.5);
    z-index: -2;
    background: black url("../images/frozen_trees.jpg") repeat center center;
    filter: brightness(60%);
    background-size: cover;
}

.parallax-logo {
    display: flex;
    flex: 1 0 auto;
    opacity: 0.5;
    mix-blend-mode: overlay;
    top: 10vh;
    position: absolute;
    height: 90vh;
    width: 90vh;
    transform: translateZ(-0.5px) scale(1.25);
    z-index: -1;
    background-size: cover;
}

.main-header {
    position: absolute;
    top: 30vh;
    width: 100vw;
    color: white;
    margin: auto;
    text-align: center;
}

.main-header h1 {
    font-size: 10vh;
    font-family: "Open Sans", sans-serif;
}

.main-header a {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: #fff;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin: 0 5px 0 5px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    transition: background 0.1s ease-out;
}

.main-header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}