#root {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

.content-container {
    min-height: 100vh;
    display: block;
    position: relative;
    background-color: var(--background-color);
    z-index: 1;
}

.content {
    position: absolute;
    padding-top: 10px;
    left: 12.5vh;
    top: 0;
    width: 75vw;
    font-weight: 200;
}

table {
    min-width: 20%;
}

td {
    padding: 5px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(221, 221, 221);
}

/* Transition Elements */

.hidden {
    display: none;
}

.old-content {
    user-select: none;
    top: 0vh;
    z-index: -10 !important;
}

.anim-old-1 {
    animation: fade-out-1 0.2s forwards;
}

.anim-old-2 {
    animation: fade-out-2 0.2s forwards;
}

.anim-current-1 {
    animation: slide-in-1 0.5s forwards;
}

.anim-current-2 {
    animation: slide-in-2 0.5s forwards;
}

/* Animation */

@keyframes slide-in-1 {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes slide-in-2 {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes fade-out-1 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out-2 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

