:root {
    --accent-color: #02b757;
    --background-color: #f4f4f4;

    --standard-box-shadow: 0 2px 3px rgba(25,25,25,0.3);
}

html, body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}